BasedOnStyle: LLVM
BreakBeforeBraces: Allman
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Cpp11BracedListStyle: true
Standard: Cpp11
UseTab: false
ColumnLimit: 80
IndentWidth: 4
PointerBindsToType: true
AccessModifierOffset: -4

