# mutt
.mutt/cache
# vim files
.vim/tmp
.vim/.netrwhist
.vim/spell
# backup
backup
# waf builds
.waf-*
# scons build
.sconsign.dblite
.sconf_temp
# tags and  source databases
GPATH
GRTAGS
GTAGS
ctags
CTAGS
cscope.files
cscope.out
cscope.in.out
cscope.po.out
build
*.pdf
*.aux
