[user]
    name  = Krzysztof Kanas
    email = k2k_chris@o2.pl

[color]
    diff = auto
    status = auto
    branch = auto
    grep = auto

[push]
    default = simple

[core]
    # pager = cat
    pager = less --quit-if-one-screen --RAW-CONTROL-CHARS --no-init --ignore-case
    excludesfile = ~/.gitignore_global
	preloadindex = true
	fscache = true

[branch]
	autoSetupRebase = always

[alias]
    who = !printf \"user.name=$(git config user.name)\nuser.email=$(git config user.email)\n\"
    ci = commit
    co = checkout
    br = branch
    st = status
    df = diff --no-prefix
    dfs = diff --no-prefix --staged

    adp = add -p
    sf = show --name-only
    head = log -1 --format='%H'

    l = log --graph --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    ll = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --name-status --date=relative

    lm =log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative  master~1..HEAD
    ls = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative  svn/trunk~1..HEAD

	rbc = rebase --continue
	ours = checkout --ours
	theirs = checkout --theirs
	workprofile = config user.email \"krzysztof.kanas@assaabloy.com\"

[diff]
    tool   = kdiff3
[difftool]
    prompt = false

[merge]
    tool   = kdiff3
    ff = false
[mergetool]
    prompt = false

[difftool "kdiff3"]
    trustExitCode = false
    keepBackup = false
    cmd = ~/dotfiles/scripts/kdiff3-launcher.sh  "$LOCAL" "$REMOTE"

[mergetool "kdiff3"]
    trustExitCode = false
    keepBackup = false
    cmd = ~/dotfiles/scripts/kdiff3-launcher.sh  "$BASE" "$LOCAL" "$REMOTE" "$MERGED"

[rerere]
    enabled = true

[grep]
    lineNumber = true
[gc]
	auto = 256
