[user]
    email = '(none)'
    name = '(none)'
[color]
    diff = auto
    status = auto
    branch = auto
    grep = auto

[push]
    default = simple

[core]
    # pager = cat
    pager = less --quit-if-one-screen --RAW-CONTROL-CHARS --no-init --ignore-case
    excludesfile = ~/.gitignore_global
	preloadindex = true
	fscache = true

[branch]
	autoSetupRebase = always

[alias]
    r  = reset
    s  = status --short
    f  = "!git ls-files | grep -i"

    bs = "!git for-each-ref --sort='-authordate' --format='%(color:green)%(authordate:relative)%09%(color:red)%(objectname:short)%09%(color:reset)%(refname) %(color:bold blue)%(authorname) %(authoremail)%(color:reset)' refs/heads | sed -e 's-refs/heads/--'"
    br = branch

    g  = grep -i -I
    gr = grep -i -I
    gra = "!f() { A=$(pwd) && TOPLEVEL=$(git rev-parse --show-toplevel) && cd $TOPLEVEL && git grep --full-name -In $1 | xargs -I{} echo $TOPLEVEL/{} && cd $A; }; f"

    ss = status
    st = status
    sh = show
    sf = show --name-only
    ci = commit
    co = checkout

    df = diff --no-prefix
    dfs = diff --no-prefix --staged
    dfn = diff --no-prefix --name-only
    dif = diff --no-prefix
    diffs = diff --staged

    adp = add -p
    head = log -1 --format='%H'

    l = log --graph --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue) %an <%aE>%Creset' --abbrev-commit --date=relative
    ln = "!f() { \
        git log --graph --color \
        --abbrev-commit --date=relative $@ \
        --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue) %an <%aE>%Creset'\
        | awk '{print \"@~\"NR-1\"    \"$0}' \
        ; }; f "
    lnm = "!git log --graph --color \
        --abbrev-commit --date=relative master~..@ \
        --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue) %an <%aE>%Creset'\
        | awk '{print \"@~\"NR-1\"    \"$0}' "

    ll = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue) %an <%aE>%Creset' --abbrev-commit --name-status --date=relative

    lm =log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue) %an <%aE>%Creset' --abbrev-commit --date=relative  master~1..HEAD
    ls = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue) %an <%aE>%Creset' --abbrev-commit --date=relative  svn/trunk~1..HEAD
    # two commands to list aliases
    la = "!git config -l | grep alias | cut -c 7-"
    alias = "!git config -l | grep alias | cut -c 7-"



	rbc = rebase --continue
    rbi = rebase --interactive
    rba = rebase --abort
	ours = "!f() { git checkout --ours $@ && git add $@; }; f"
	theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"
    who = !printf \"user.name=$(git config user.name)\nuser.email=$(git config user.email)\n\"
    me = !git config user.email "k2k_chris@o2.pl" && git config user.name 'Krzysztof(Chris) Kanas'
    krzkan = !git config user.email "krzysztof.kanas@assaabloy.com" && git config user.name 'Krzysztof Kanas'
    set-rebase-master = !git config branch.master.rebase true

[diff]
    tool   = kdiff3
[difftool]
    prompt = false

[merge]
    tool   = kdiff3
    ff = false
[mergetool]
    prompt = false

[difftool "kdiff3"]
    trustExitCode = false
    keepBackup = false
    cmd = ~/dotfiles/scripts/kdiff3-launcher.sh  "$LOCAL" "$REMOTE"

[mergetool "kdiff3"]
    trustExitCode = false
    keepBackup = false
    cmd = ~/dotfiles/scripts/kdiff3-launcher.sh  "$BASE" "$LOCAL" "$REMOTE" "$MERGED"

[rerere]
    enabled = true

[grep]
    lineNumber = true
[gc]
	auto = 256
